<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Desafio Contatos - Editar Contato</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Desafio Contatos</a>
                </div>
            </div>
        </nav>
        <br/><br/>
        <div id="main" class="container-fluid">
            <h3 class="page-header">Editar Contato</h3>
            <form th:object="${contato}" th:action="'/edit/'+ ${id}"  method="POST">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="nome">Nome</label>
                        <input type="text" th:field="*{nome}" th:value="*{nome}" class="form-control" id="nome"/>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="endereco">Endereço</label>
                        <input type="text" th:field="*{endereco}" th:value="*{endereco}" class="form-control" id="endereco"/>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="fone">Fone</label>
                        <input type="text" th:field="*{fone}" th:value="*{fone}" class="form-control" id="fone"/>
                    </div>
                </div>
                <hr />
                <div id="actions" class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <a href="/" class="btn btn-default">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
